.frameChild {
  height: 75px;
  width: 254px;
  position: relative;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--primary-contrast);
  display: none;
}
.fullStack {
  width: 103px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jua);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 103px;
  z-index: 2;
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--primary-contrast);
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-56xl) var(--padding-4xl)
    var(--padding-57xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.frameButton:hover,
.rectangleContainer:hover,
.rectangleGroup:hover,
.rectangleParent:hover {
  background-color: var(--color-gainsboro-100);
}
.frameItem {
  height: 75px;
  width: 254px;
  position: relative;
  display: none;
}
.frontEnd {
  width: 107px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jua);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 107px;
  z-index: 2;
}
.frameContainer,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-54xl) var(--padding-4xl)
    var(--padding-55xl);
  background-color: var(--primary-contrast);
  align-self: stretch;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-width: 165px;
}
.frameInner {
  height: 75px;
  width: 254px;
  position: relative;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--primary-contrast);
  display: none;
}
.backEnd {
  width: 96px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jua);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 96px;
  z-index: 2;
}
.rectangleContainer,
.rectangleDiv {
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--primary-contrast);
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-60xl) var(--padding-4xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.rectangleDiv {
  height: 75px;
  width: 254px;
  position: relative;
  display: none;
}
.frameButton,
.other {
  display: flex;
  justify-content: center;
}
.other {
  width: 63px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jua);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  min-width: 63px;
  z-index: 2;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-4xl)
    var(--padding-2xl);
  background-color: var(--primary-contrast);
  flex: 0.8386;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 165px;
  z-index: 1;
}
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-48xl);
}
.frameWrapper {
  width: 1281px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
@media screen and (max-width: 1350px) {
  .frameButton,
  .frameContainer {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: 67px 33px;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frontEnd {
    font-size: var(--font-size-lgi);
  }
  .rectangleGroup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .backEnd {
    font-size: var(--font-size-lgi);
  }
  .rectangleContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .other {
    font-size: var(--font-size-lgi);
  }
  .frameParent {
    gap: 67px 17px;
  }
}
