.jobTitle,
.location {
  width: 209px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.frameWrapper,
.jobTitleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.jobTitleParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--primary-contrast);
  font-family: var(--font-jua);
}
@media screen and (max-width: 975px) {
  .jobTitle,
  .location {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 700px) {
  .jobTitleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .jobTitle,
  .location {
    font-size: var(--font-size-3xl);
  }
}
