@import url("https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-jua: Jua;
  --font-inter: Inter;
  --components-button-large: Roboto;

  /* font sizes */
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --components-button-large-size: 15px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --primary-contrast: #fff;
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --text-primary: rgba(0, 0, 0, 0.87);
  --color-steelblue: #8ea3db;
  --color-dimgray-200: #514a4a;

  /* Gaps */
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-50xl: 69px;
  --gap-15xl: 34px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-48xl: 67px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-lgi: 19px;
  --padding-xl: 20px;
  --padding-4xs: 9px;
  --padding-26xl: 45px;
  --padding-6xl: 25px;
  --padding-25xl: 44px;
  --padding-23xl: 42px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-9xs: 4px;
  --padding-49xl: 68px;
  --padding-15xl: 34px;
  --padding-13xl: 32px;
  --padding-64xl: 83px;
  --padding-20xl: 39px;
  --padding-32xl: 51px;
  --padding-22xl: 41px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-lg: 18px;
  --padding-10xs: 3px;
  --padding-29xl: 48px;
  --padding-60xl: 79px;
  --padding-54xl: 73px;
  --padding-55xl: 74px;
  --padding-56xl: 75px;
  --padding-57xl: 76px;

  /* Border radiuses */
  --br-131xl: 150px;
  --br-31xl: 50px;
  --br-81xl: 100px;
  --br-16xl: 35px;
}
